<h1>Address Book for {{user.username}}</h1>
{% if contact_list %}
<ul>
    {% for contact in contact_list %}
    <li>
        <a href="{% url 'address:detail' user_id contact.id %}">
            <p>{{ contact.full_name }}</p>
            <p>{{ contact.email_address }}</p>
            <p>{{ contact.street_address }}</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No contacts are available.</p>
{% endif %}

<!--todo css this into a button-->
<a href="{% url 'address:add' user_id %}">Add New Contact</a>
